<div class="row">
    <div class=" col-12 col-sm-4">
        <div class="card">
            <img src=#>
            <div class="card-body">
                <p class="text-center"><%= @user.name %></p>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-8">
        <ul class="nav nav-tab">
            <li class="nav-item"><a href="#" class="nav-link">User's information</a></li>
            <li class="nav-item"><a href="#" class="nav-link">My vocabulary</a></li>
            <li class="nav-item"><a href="#" class="nav-link">following</a></li>
            <li class="nav-item"><a href="#" class="nav-link">followers</a></li>
        </ul>
    </div>
</div>
<div class="row mt-4 mb-4">
    <div class="col-6 bg-success rounded p-4 text-center"><a href= "#">英検</a></div>
    <div class="col-6 bg-warning rounded p-4 text-center"><a href= "#">Toeic</a></div>
</div>