<div class="main-pic">
    <img class="img-fluid" src="assets/bVmPZj6wMRETLIC1599302692_1599302740.jpg">
    <p>Building up <br> your vocabulary <br> as efficiently as possible </p>
    <%= link_to "Sign up", signup_path, class: "btn btn-primary rounded signup" %>
</div>
<div>
    <h2 class="mt-5">Buil Voca（ビルボキャ）とは？</h2>
    <p>
    Buil Vocaとは、進化し続ける英単語アプリケーションです。​<br>
    Buil Vocaは、英語試験のスペシャリストを集め、試験別に出やすい単語をまとめ、見やすくしました。Buil Vocaの教員は、皆様に実際に試験に出る英単語に触れてもらうため、英語の試験を継続的に受け続け、Buil Vocaの英単語を更新しています。<br>
    加えて、ユーザー機能で単語をお気に入りに入れることで、自分だけの単語帳を作ることができます。<br>
    ほかのユーザーのお気に入り単語も見ることができるので、お友達などとわからない単語を共有することもできます。ぜひ、Buil Vocaを利用して、英語の試験に合格しましょう！！
    </p>
</div>
<div>
    <h2 class="mt-5">テストの種類</h2>
    <div class="tests d-flex row">
        <div class="col-sm-6 ">
            <h5 class="circle eiken text-center">英検</h5>
        </div>
        <div class="col-sm-6">
            <h5 class="circle toeic text-center">Toeic</h5>
        </div>
    </div>
</div>
