/*// Place all the styles related to the inquiries controller here.*/
/*// They will automatically be included in application.css.*/
/*// You can use Sass (SCSS) here: http://sass-lang.com/*/
/*// body{*/
/*//     height: 100%;*/
/*// }*/
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
 
.bottom {
  margin-top: auto;
}