.pic{
    width: 90px;
    height: 90px;
    border-radius: 50%;
}


.teacher {
    position: relative;
}
.card_reverse {
    position: absolute;
    top: 5%;
    left: 0;
    right: 0;
    margin: auto;
}

/* 表面の表示 */
.is-surface .card_surface {
    opacity: 1;
    transform: rotateY(0deg);
    transition:
        opacity 100ms 150ms,
        transform 300ms 150ms;
}
.is-surface .card_reverse {
    opacity: 0;
    transform: rotateY(90deg);
    transition:
        opacity 50ms 200ms,
        transform 300ms;
}
 
/* 裏面の表示 */
.is-reverse .card_surface {
    opacity: 0;
    transform:rotateY(90deg);
    transition:
        opacity 50ms 200ms,
        transform 300ms;
}
.is-reverse .card_reverse {
    opacity: 1;
    transform:rotateY(0deg);
    transition:
        opacity 100ms 150ms,
        transform 300ms 150ms;
}

// 裏側の要素の位置合わせ
.hometown{
    margin-top: 20px;
}
.habit{
    margin-top: 50px;
}
.habits{
    margin-top: 70px;
}

.comment{
    margin-top: 100px;
}
.comments{
    margin-top: 130px;
    border: 1px dotted black;
}