// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.menu p{
    background-color: #808080;
    border-radius: 5px;
    padding: 10px;
    color: white;
    font-weight: bold;
    margin-bottom: 10px;
}
.menu a{
    color: white;
}
.card-header{
    background-color: #808080;
}

.card button{
    color: white;
}
