<!--<div class="footer">-->
<!--    <footer class="mx-auto" style="width: 80vw">-->
<!--        <div class="d-flex row">-->
<!--            <div class="footer-left col-6">-->
<!--                <p>最新情報</p>-->
<!--                <p>先生紹介</p>-->
<!--                <p>求人情報</p>-->
<!--            </div>-->
<!--            <div class="footer-right col-6">-->
<!--                <p>お問い合わせ</p>-->
<!--                <address class="ml-5">-->
<!--                   <small class="d-block mb-4">電話: 090-0000-0000</small>-->
<!--                   <small class="d-block mb-4">メール: 00000@gmail.com</small>-->
<!--                   <small class="d-block">住所: 東京都～～区～～</small>-->
<!--                </address>-->
<!--            </div>-->
<!--        </div>-->
<!--    </footer>-->
<!--</div>-->